<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../static/js/vuejs-2.5.16.js"></script>
    <script src="../../static/js/axios-0.18.0.js"></script>
    <script src="../../static/js/model.js"></script>
    <!-- 引入样式 -->
    <link href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js"></script>
    <style>
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
    <title>设备列表</title>
</head>
<body>
<div id="app">
    <!--<el-button type="text" @click="dialogShelvesSearchFormVisible = true">按照时间搜索</el-button>-->
    <!--<el-dialog title="按照时间搜索" :visible.sync="dialogShelvesSearchFormVisible">-->
        <!--<el-form :model="shelvesSearchForm">-->
            <!--<el-form-item label="开始时间">-->
                <!--<el-col :span="8">-->
                    <!--<el-date-picker type="date" placeholder="选择日期" v-model="shelvesSearchForm.begin" style="width: 100%;"></el-date-picker>-->
                <!--</el-col>-->
            <!--</el-form-item>-->
            <!--<el-form-item label="结束时间">-->
                <!--<el-col :span="8">-->
                    <!--<el-date-picker type="date" placeholder="选择日期" v-model="shelvesSearchForm.end" style="width: 100%;"></el-date-picker>-->
                <!--</el-col>-->
            <!--</el-form-item>-->
        <!--</el-form>-->
        <!--<div slot="footer" class="dialog-footer">-->
            <!--<el-button @click="dialogShelvesSearchFormVisible = false">取 消</el-button>-->
            <!--<el-button type="primary" @click="dialogShelvesSearchFormVisible = false">确 定</el-button>-->
        <!--</div>-->
    <!--</el-dialog>-->
    <template>
        <el-table
                :data="shelvesList.records"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item
                                v-for="(layer,key) in props.row.layers"
                                :key="'layer'+key"
                                :label="'层 ['+(key+1)+']'"
                        >
                            <el-form-item label="层高" >
                                <span>{{ layer.height }}m</span>
                            </el-form-item>
                        </el-form-item>

                        <el-form-item
                                v-for="(column,key) in props.row.columns"
                                :key="'column'+key"
                                :label="'列 ['+(key+1)+']'"
                        >
                            <el-form-item label="列宽">
                                <span>{{ column.wide }}m</span>
                            </el-form-item>
                            <el-form-item label="列深">
                                <span>{{ column.deep }}m</span>
                            </el-form-item>
                            <!--<span>{{ column }}</span>-->
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column
                    label="设备ID"
                    prop="id">
            </el-table-column>
            <el-table-column
                    label="设备名称"
                    prop="name">
            </el-table-column>
            <el-table-column
                    label="设备类型"
                    prop="type">
            </el-table-column>
            <el-table-column
                    label="设备编号"
                    prop="code">
            </el-table-column>
            <el-table-column
                    label="库区"
                    prop="warehouseAreaId">
            </el-table-column>
            <el-table-column
                    label="巷道编号"
                    prop="roadwayNo">
            </el-table-column>
            <el-table-column
                    label="容器堆叠"
                    prop="stackNum">
            </el-table-column>
            <el-table-column
                    label="容器类型"
                    prop="containerType">
            </el-table-column>
            <el-table-column
                    label="容器层数"
                    prop="pliesNum">
            </el-table-column>

        </el-table>
    </template>
    </el-table>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 20, 40]"
    :page-size="pagesize"
    layout="total, sizes, prev, pager, next, jumper"
    :total="shelvesList.total">
    </el-pagination>
</div>
</body>
<script>

    var Main = {
        data() {
            return {
                dialogTableVisible: false,
                dialogShelvesSearchFormVisible: false,
                formLabelWidth: '120px',
                currentPage:1, //初始页
                pagesize:10,    //    每页的数据
                shelvesList:{},
                shelvesSearchForm:{}
            }
        },
        created() {
            this.searchAll()
        },
        methods: {
            // 初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange: function (size) {
                this.pagesize = size;
                console.log(this.pagesize)  //每页下拉显示数据
                this.searchAll();
            },
            handleCurrentChange: function(currentPage){
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
                this.searchAll();
            },
            searchAll() {
                var _this = this;
                axios.get("/shelves/all",{
                    params:{
                        current:this.currentPage,
                        size:this.pagesize
                    }
                }).then(function (response) {
                    _this.shelvesList = response.data.data;
                    console.log('1111==='+JSON.stringify(_this.shelvesList));
                }).catch(function (err) {
                    console.log('err'+err);
                });
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

</script>
</html>