<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快递包裹信息</title>
    <script src="../../static/js/vuejs-2.5.16.js"></script>
    <script src="../../static/js/axios-0.18.0.js"></script>
    <!-- 引入样式 -->
    <link href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js"></script>
</head>
<body>
<div id="app">

    <el-row :gutter="20">
        <el-col :span="10">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="快递单号" prop="">
                    <el-input v-model="formInline.barcode" placeholder="根据快递单号查询"></el-input>
                </el-form-item>
                <!--<el-form-item>-->
                    <!--<el-button type="primary" @click="onSubmit">查询</el-button>-->
                <!--</el-form-item>-->
            </el-form>
        </el-col>
        <el-col :span="10">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="根据机器Id查询" prop="validateRobotId">
                    <el-select v-model="formInline.gwId" placeholder="选择机器ID">
                        <el-option label="一号机" value="00C94707275"></el-option>
                        <el-option label="二号机" value="00C66186367"></el-option>
                        <el-option label="三号机" value="00C66186389"></el-option>
                        <el-option label="四号机" value="00C94707265"></el-option>
                        <el-option label="五号机" value="00C94707266"></el-option>
                        <el-option label="六号机" value="00C58515100"></el-option>
                    </el-select>
                </el-form-item>
                <!--<el-form-item>-->
                    <!--<el-button type="primary" @click="onSubmit">查询</el-button>-->
                <!--</el-form-item>-->
            </el-form>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="10">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <template>
                    <div class="">
                        <el-form-item label="根据时间范围筛选" >
                            <!--<span class="demonstration el-form-item__label">根据时间范围筛选</span>-->
                            <el-date-picker v-model="formInline.timeRange" type="datetimerange" range-separator="至"
                                            start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss"	 >
                            </el-date-picker>
                        </el-form-item>
                        <!--<el-form-item>-->
                            <!--<el-button type="primary" @click="onSubmit">查询</el-button>-->
                        <!--</el-form-item>-->
                    </div>
                </template>

            </el-form>
        </el-col>
    </el-row>

    <el-row :gutter="20">
        <el-col :span="10">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <template>
                    <div class="">
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="exportExcel">导出当前查询结果</el-button>
                        </el-form-item>
                    </div>
                </template>

            </el-form>
        </el-col>
    </el-row>

    <template>
        <el-table
                :data="goodsWeightList.records"
                style="width: 100%"
                :row-class-name="tableRowClassName">
            <el-table-column
                    prop="barCode"
                    label="包裹单号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="weight"
                    label="包裹重量(KG)"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="length"
                    label="长(cm)">
            </el-table-column>
            <el-table-column
                    prop="width"
                    label="宽(cm)">
            </el-table-column>
            <el-table-column
                    prop="height"
                    label="高(cm)">
            </el-table-column>

            <el-table-column
                    prop="customer"
                    label="货主"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="cartonName"
                    label="纸箱名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="consigneename"
                    label="收件人"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="modifyTime"
                    label="称重时间"
                    width="180">
            </el-table-column>

        </el-table>
    </template>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 20, 40]"
            :page-size="pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="goodsWeightList.total">
    </el-pagination>

    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <span>{{dialogMsg}}</span>
        <span slot="footer" class="dialog-footer">
    <!--<el-button @click="dialogVisible = false">取 消</el-button>-->
    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  </span>
    </el-dialog>

</div>
</body>
<script>
    var Main = {
        data: function () {

            return {
                host: "/shipper_carton/import/excel",
                fileList: [],
                dialogTableVisible: false,
                dialogShelvesSearchFormVisible: false,
                formLabelWidth: '120px',
                currentPage: 1, //初始页
                pagesize: 10,    //    每页的数据
                goodsWeightList: {},
                dialogVisible: false, //控制弹窗效果
                dialogMsg: '1',//弹窗提示信息
                formInline: {
                    gwId: '',
                    barcode: '',
                    timeRange:[],
                }

            }
        },
        created() {
            this.searchAll()
        },
        methods: {
            submitUpload() {
                var a = this.$refs.upload.submit();
                this.$message({type: 'success', message: '上传成功！'});
            },
            handleBeforeUpload(file) {//文件过滤，html用了accept，不过不考虑兼容下面可以不要
                var FileExt = file.name.replace(/.+\./, "");
                if (['xls', 'xlsx']
                    .indexOf(FileExt.toLowerCase()) === -1) {
                    this.$message({type: 'warning', message: '请上传后缀名为[xls,xlsx]的附件！'});
                    return false;
                }
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange: function (size) {
                this.pagesize = size;
                console.log(this.pagesize)  //每页下拉显示数据
                this.searchAll();
            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
                this.searchAll();
            },
            searchAll() {
                var _this = this;
                axios.get("/goodsweight/list", {
                    params: {
                        current: this.currentPage,
                        size: this.pagesize,
                        id: this.formInline.gwId,
                        barCode: this.formInline.barcode,
                        beginTime:this.formInline.timeRange[0],
                        endTime:this.formInline.timeRange[1]
                    }
                }).then(function (response) {
                    _this.goodsWeightList = response.data.data;
                    console.log('1111===' + JSON.stringify(_this.goodsWeightList));
                }).catch(function (err) {
                    console.log('err' + err);
                });
            },
            exportExcel() {
                var _this = this;
                var url = "/goodsweight/excel/export?";
                var uri = url;
                if(this.formInline.gwId != ''){
                    url += "&id="+this.formInline.gwId;
                }
                if(this.formInline.barcode != ''){
                    url+= "&barCode="+this.formInline.barcode;
                }

                if( (null != this.formInline.timeRange[1]) && (null != this.formInline.timeRange[0])){
                    url+="&beginTime=" + this.formInline.timeRange[0] + "&endTime=" + this.formInline.timeRange[1];
                }
                if(uri == url ){
                    this.$message({
                        message: '请输入搜索条件查询出结果,再点击导出.',
                        type: 'warning'
                    });
                    return;
                }
                window.location.href = url;
            },
            download (data) {
                if (!data) {
                    return
                }
                let url = window.URL.createObjectURL(new Blob([data]))
                let link = document.createElement('a')
                link.style.display = 'none'
                link.href = url
                link.setAttribute('download', 'excel.xlsx')
                document.body.appendChild(link)
                link.click()
            },
            onSubmit() {
                console.log('submit!');
                this.searchAll();
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>