<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoshi.wcs.dao.ContainerStoreroomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baoshi.wcs.entity.ContainerStoreroom">
    <result column="id" property="id" />
        <result column="container_code" property="containerCode" />
        <result column="container_type" property="containerType" />
        <result column="storeroom_code" property="storeroomCode" />
        <result column="warehouse_code" property="warehouseCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        container_code, container_type, storeroom_code, warehouse_code
    </sql>

</mapper>
