<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoshi.wcs.dao.ContainerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baoshi.wcs.entity.Container">
    <result column="id" property="id" />
    <!--<result column="creator" property="creator" />-->
    <!--<result column="create_time" property="createTime" />-->
    <result column="version" property="version" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="internal_length" property="internalLength" />
        <result column="internal_width" property="internalWidth" />
        <result column="internal_height" property="internalHeight" />
        <result column="total_volume" property="totalVolume" />
        <result column="internal_volume" property="internalVolume" />

        <!--<result column="modifier" property="modifier" />-->
        <!--<result column="modify_time" property="modifyTime" />-->
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        create_time,
        version,
        code, type, length, width, height, modifier, modify_time
    </sql>

</mapper>
