<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoshi.wcs.dao.GoodsWeightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baoshi.wcs.entity.GoodsWeight">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="creator" property="creator" />
    <result column="version" property="version" />
        <result column="bar_code" property="barCode" />
        <result column="weight" property="weight" />
        <result column="modifier" property="modifier" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        creator,
        version,
        bar_code, weight, modifier
    </sql>

</mapper>
