<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoshi.wcs.dao.GoodsWeightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baoshi.wcs.entity.GoodsWeight">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="creator" property="creator"/>
        <result column="version" property="version"/>
        <result column="bar_code" property="barCode"/>
        <result column="weight" property="weight"/>
        <result column="modifier" property="modifier"/>
        <result column="gw_robot_id" property="gwRobotId"/>

        <result column="palletid" property="palletid"/>
        <result column="customer" property="customer"/>
        <result column="consigneename" property="consigneename"/>
        <result column="carrier_id" property="carrierId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        modify_time,
        creator,
        version,
        bar_code, weight, modifier,gw_robot_id,palletid, customer, consigneename, carrier_id,task_id,order_no
    </sql>


    <select id="getLastGoodsweight" parameterType="string" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"></include>
        FROM goods_weight
        <if test=" gwRobotId != null and gwRobotId != '' ">
          where gw_robot_id = #{gwRobotId}
        </if>
        ORDER BY id DESC LIMIT 0,1
    </select>
</mapper>
