<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoshi.wcs.dao.GoodsWeightMapper">


    <insert id="saveOne" parameterType="com.baoshi.wcs.entity.GoodsWeight" >

        insert into goods_weight(bar_code,weight)
        value(#{barCode},#{weight})
    </insert>

</mapper>