<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoshi.wcs.dao.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baoshi.wcs.entity.Item">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="creator" property="creator" />
    <result column="version" property="version" />
        <result column="sku_code" property="skuCode" />
        <result column="bar_code" property="barCode" />
        <result column="name" property="name" />
        <result column="specification" property="specification" />
        <result column="packing_unit" property="packingUnit" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="quantity" property="quantity" />
        <result column="modify_time" property="modifyTime" />
        <result column="modifier" property="modifier" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        creator,
        version,
        sku_code, bar_code, name, specification, packing_unit, length, width, height, quantity, modify_time, modifier
    </sql>

</mapper>
